body {
background-color:white;
}
h1 {
	background-color:white;
	font-size:32;
}
div {
	background-color:white;
	font-size:22;
	font-family:sans-serif;
}
p {
	background-color: white;
	color:black;
}
button {
	font-size: 20;
}
